<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnyStatus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnyStatus.Properties.Settings>
            <setting name="DebugMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReportAnonymousUsageData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstTimeInstallation" serializeAs="String">
                <value>True</value>
            </setting>
        </AnyStatus.Properties.Settings>
    </userSettings>
</configuration>